*{
    margin: 0;
    padding: 0;
}
header{
    border-bottom: 1px solid rgb(230, 230, 230);
}
.header_part{

width: 90%;

margin-left: 5%;

overflow: hidden;

/* margin-top: 10px; */

/* margin-bottom: 10px; */

/* border-bottom: 1px solid black; */

margin-top: 10px;

margin-bottom: 10px;
}
.logo{

width: 20%;

float: left;
}
nav{

width: 50%;

float: right;

overflow: hidden;
}
nav ul{

list-style: none;

overflow: hidden;

float: right;
}
nav ul li{

float: left;

margin: 20px;
}
nav ul li a{

text-decoration: none;

font-size: 18px;

text-transform: capitalize;

color: black;
}
.content_section{

width: 70%;

margin-left: 15%;
overflow: hidden;
}
.content_section h1{

color: #0F2656;

font-size: 50;

font-size: 45px;

text-align: center;

margin-top: 30px;
}
.content_section h2{

color: #008AFF;

font-size: 45px;

text-align: center;

margin-top: 15px;
}
.content_section p{


color: #0F2656;

text-align: center;

/* margin-top: 10px; */

margin: 20px auto;
}
.img{

text-align: center;
}
.img img{

width: 50%;
}
.project_content{

overflow: hidden;
}
.left_content{

width: 48%;

float: left;
}
.right_content{

width: 48%;

float: right;
}
.left_content h1{

color: #F15767;

text-align: right;
}
.left_content p{

text-align: right;
}
.right_content h1{
    
text-align: left;
}
.service{

width: 90%;

margin-left: 5%;

margin-top: 50px;

margin-bottom: 50px;

overflow: hidden;
}
.service_one{

width: 30%;

background-color: #FDEBED;

float: left;

text-align: center;

padding: 30px 0;
}
.service_one img{

/* text-align: center; */

width: 50%;

padding-top: 10px;
}
.service_one h2{
    
text-align: left;
    
padding: 10px;
}
.service_one p{

text-align: left;

padding: 10px;
}
.service_two{

width: 30%;

background-color: #EBF9F4;

float: left;

margin-left: 5%;

text-align: center;

padding: 30px 0;
}
.service_two img{

width: 45%;

padding-top: 10px;
}
.service_two h2{

text-align: left;

padding: 10px;
}
.service_two p{

text-align: left;

padding: 10px;
}
.service_three{

width: 30%;

background-color: #FFF7E8;

float: right;

text-align: center;

padding: 30px 0;
}
.service_three img{

width: 50%;

padding-top: 10px;
}
.service_three h2{

text-align: left;

padding: 10px;
}
.service_three p{

text-align: left;

padding: 10px;
}
footer{

background-color: #008AFF;

text-align: center;

padding: 30px 0;
}
footer p{color: #85BDFF;font-size: 18px;}
footer p spam{
    
color: #fff;
    
font-size: 20px;
    
font-weight: 700;
}